body {
  font-size: 20px;
}

header {
  background-color: maroon;
  text-align: center;
  color: white;
  height: 320px;
  padding: 20px;
}

nav,
aside,
section,
footer {
  padding: 10px;
}

nav {
  background-color: blanchedalmond;
}

aside {
  background-color: aquamarine;
}

.sample-img {
  background-color: skyblue;
  border: 1px solid black;
  height: 200px;
  padding: 20px;
}
