header {
  background-color: navy;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  padding: 1rem;
}

h1 {
  color: white;
  font-size: 2em;
  margin: 0;
}

header ul {
  display: flex;
  padding: 0;
  gap: 2rem;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ffebcd;
}

h2 {
  font-size: 2.5em;
}

main {
  padding: 1rem;
  line-height: 1.5;
}

article li {
  list-style-type: circle;
}

article ul {
  display: flex;
  flex-direction: column;
}

.links a {
  color: black;
  text-decoration: none;
}

@media screen and (min-width);
